@model List<MVCShoeShop.Models.Friends>

@{
    ViewData["Title"] = "Friends";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a href="/Home/AddFriend" class="btn btn-primary">Add New Friend</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var friend in Model)
        {
            <tr>
                <td>@friend.Id</td>
                <td>
                    <a href="/Home/Details/@friend.Id">
                        @friend.Name
                    </a>
                </td>
                <td>@friend.Age</td>
                <td>
                    <a href="@Url.Action("Delete", "Home", new { id = friend.Id })" onclick="return confirm('Are you sure you want to delete this friend?');">Delete</a> |
                    <a href="@Url.Action("UpdateFriend", "Home", new { id = friend.Id })" onclick="return confirm('Are you sure you want to Update this friend?');">Update</a> 
                    @* <a href="/Home/UpdateFriend/@friend.Id">update friend</a> *@
                </td>
            </tr>
            
        }
    </tbody>
</table>





